.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 320px;
  max-width: 500px
}


.audio {
  position: relative;
  margin: auto;
}

.countdownContainer {
  display: flex;
  align-items: center;
  margin: auto;
  color: darkslateblue;
  padding: 15px;
  border: solid;
  border-radius: 46px;
  padding: 0px;
  padding-left: 25px;
  padding-right: 25px;
}

.tabla {
  text-align: center;
  margin-left: 20px;
}

.desliza {
  animation-duration: 3s;
  animation-name: slidein;
  font-family: emoji;
  animation-iteration-count: infinite;
  margin: 0px;
  font-size: x-large;
  color: darkslateblue;
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 300%
  }

  to {
    margin-left: 60%;
    width: 100%;
  }
}