.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 320px;
  max-width: 500px
}


.audio {
  position: relative;
  margin: auto;
}

.countdownContainer {
  display: flex;
  align-items: center;
  margin: auto;
}

.tabla {
  text-align: center;
  margin-left: 20px;
}